.transaction-history {
  width: 800px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

td,
th {
  padding: 10px;
  text-align: center;
  border: 1px solid lightgray;
}

th {
  color: beige;
  background-color: cornflowerblue;
}

tbody tr:nth-child(2n) {
  background-color: beige;
}
