.friend-list {
  width: 200px;

  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 5px;
}
.status {
  width: 10px;
  height: 10px;
  background-color: tomato;
  border-radius: 50%;
}
.online {
  background-color: green;
}
.name {
  font-weight: 700;
}
